/* Layout */

.logo {
	width: 50%;
}

#header-buttons a {
	margin: 7px;
}

/* Colors */

.row.black::after {
	background-color: black;
}

.page-footer {
	background-color: #ff8996;
}

#hacknc-header {
	background-color: black;
}

.hacknc-nav {
	background-color: rgba(1, 1, 1, 0.2);
}

/* Typography */

html {
	font-family:'Archer Book';
}

h1, h2, h3 {
	font-family: 'Roboto';
	font-weight: bold;
}

span.subtitle {
	font-size: 2em;
}

/* Media queries */
@media (max-width : 500px) {
	.logo {
		width: 95%;
	}
}

/* Fonts */

@font-face {
font-family: 'Archer Book';
font-style: normal;
font-weight: normal;
src: local('Archer Book'), url('../fonts/archer/Archer-Book-Pro.woff') format('woff');
}

@font-face {
font-family: 'Riesling';
font-style: normal;
font-weight: normal;
src: local('Riesling'), url('../fonts/riesling/riesling 2.ttf') format('ttf');
}
