body {
    background-image: url('../images/spring.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav {
    font-family: ArcherBook;
}

/* Fonts */
@font-face {
    font-family: ArcherBook;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/archer/Archer-Book-Pro.woff);
}

@font-face {
    font-family: Riesling;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/riesling/riesling.ttf);
}