html {
	font-family:'Archer Book';
}

h1, h2, h3 {
	font-family: 'Roboto';
	font-weight: bold;
}

#hacknc-header {
	background-color: black;
}

#hacknc-header a.btn {
	margin: 7px;
}

#hacknc-logo {
	width: 50%;
}

#hacknc-tagline {
	font-family:'Riesling';
	font-size: 2em;
}

.hacknc-fullscreen {
	height: 100%;
	min-height:100%;
}

.page-footer {
	background-color: #ff8996;
}

/* Media queries */
@media (max-width : 500px) {
	#hacknc-logo {
		width: 95%;
	}
}

/* Fonts */

@font-face {
	font-family: 'Archer Book';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/archer/Archer-Book-Pro.woff') format('woff');
}

@font-face {
	font-family: 'Riesling';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/riesling/riesling 2.ttf') format('ttf');
}
