/* Typography */
nav, p, h1, h2, h3, h4, h5, li, span {
	font-family: ArcherBook;
}

@font-face {
	font-family: ArcherBook;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/archer/Archer-Book-Pro.woff);
}

@font-face {
	font-family: Riesling;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/riesling/riesling.ttf);
}

/* Images and color */

.container {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
}

.row > h1, .row > h2, .row > h3 {
	padding-left: 8px;
}

/* Layout */

.hacknc-footer {
	padding-right: 5%;
}

.hacknc-footer span {
	font-size: 1.5rem;
}
