header > .jumbotron {
  height: 1080px;
  padding: 0;
	margin: 0;
}

header > .jumbotron > div {
  background-size: cover;
  background-position: center bottom;
  height: inherit;
  width: 100%;
  position: absolute;
}

header #title {
  width: 70%;
  left: 15%;
  z-index: 6;
  height: initial;
  display: none;
}

header #five {
  background-image: url(../images/gch/layer0.png);
  z-index: 5;
}

header #four {
  background-image: url(../images/gch/layer1.png);
  z-index: 4;
}
header #three {
  z-index: 3;
}

header #two {
  background-image: url(../images/gch/layer2.png);
  z-index: 2;
	margin-top: -60px;
}

header #one {
  background-image: url(../images/gch/layer3.png);
  z-index: 1;
	margin-top: -100px;
}

header #zero {
	background-color: powderblue;
  z-index: 1;
}

#invitation {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  font-family: ArcherBook;
}

#invitation .big {
  font-size: 4rem;
}

#invitation .col-xs-8, #invitation .col-xs-offset-2 {
  float: none;
}

#invitation img:first-child {
  margin-bottom: -10%;
}

#invitation img {
	max-width: 500px;
  width: 80%;
  margin: auto;
}

#invitation img:last-child {
  margin-top: -15%;
}

#invitation .content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron {
  background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.25);
}

#mlh-trust-badge {
	position: absolute;
	top: 0;
	right: 50px;
	max-width: 100px;
	width: 10%;
	min-width: 60px;
	z-index:10;
}

#nav.affix {
	top: 0;
	border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

#welcome p {
  font-size: 1.1em;
}