header.full-height {
  height: auto;
  max-height: 1072px;
  min-height: 400px;
  width: 100%;
}
header.full-height > .jumbotron {
  height: inherit;
  max-height: inherit;
  min-height: inherit;
  padding: 0;
	margin: 0;
  background-color: rgb(235, 222, 222);
}

header.full-height > .jumbotron > div#header-image {
  background-size: cover;
  background-position: center bottom;
  height: inherit;
  width: 100%;
  max-height: inherit;
  min-height: inherit;
  background-image: url(../images/gch2048.png);
}

#invitation {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1rem;
  font-family: ArcherBook;
}

div#content.container
{
  margin-top: 0px;
}

#invitation p
{
  margin: 0 0 2px;
}

#invitation .big {
  font-size: 2rem;
}

#invitation .btn
{
  background-color: #CC2557;
}

#invitation .col-xs-8, #invitation .col-xs-offset-2 {
  float: none;
}

#invitation img:first-child {
  margin-bottom: -10%;
}

#invitation img {
  width: 80%;
  margin: auto;
}

#invitation img:last-child {
  margin-top: -15%;
}

#invitation .content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.jumbotron {
  background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.25);
}

#mlh-trust-badge {
	position: absolute;
	top: 0;
  right: 25px;
  max-width: 80px;
	width: 10%;
	min-width: 60px;
  z-index: 4;
}

#nav.affix-top {
  z-index: 666;
}
#nav.affix {
	top: 0;
	border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 666;
}

#welcome p {
  font-size: 1.1em;
}

.panel-body{
  font-size: 1.6rem;
}

@media (max-width : 1920px) {
  #header-image {
    background-image: url(../images/gch1920.png);
  }

  header {
    max-height: 1005px;
  }
}

@media (max-width : 1600px) {
  #header-image {
    background-image: url(../images/gch1600.png);
  }

  header {
    max-height: 838px;
  }
}

@media (max-width : 1440px) {
  #header-image {
    background-image: url(../images/gch1440.png);
  }

  header {
    max-height: 754px;
  }
}

@media (max-width : 1280px) {
  #header-image {
    background-image: url(../images/gch1280.png);
  }

  header {
    max-height: 670px;
  }
}

@media (max-width : 1024px) {
  #header-image {
    background-image: url(../images/gch1024.png);
  }

  header {
    max-height: 536px;
  }
}

@media (max-width : 768px) {
  #header-image {
    background-image: url(../images/gch768.png);
  }

  header {
    max-height: 402px;
  }
}
