.container {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
}

body {
  background-image: url(../images/paper200.jpg);
	background-repeat: repeat;
}

h2 {
  text-align: center;
}

header > .jumbotron {
	height: 400px;
  padding: 0;
}

header > .jumbotron > div {
  background-size: cover;
  background-position: center center;
  height: inherit;
  width: 100%;
  position: absolute;
}

header #three {
  background-image: url(../images/front-mtn-layer.png);
  z-index: 3;
}

header #two {
  background-image: url(../images/2nd-mntn-and-waterfall.png);
  z-index: 2;
}

header #one {
  background-image: url(../images/background-mtns.png);
  z-index: 1;
}

header #zero {
  background-image: url(../images/background-mtns.png);
  z-index: 0;
}

#invitation {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 2rem;
	font-family: ArcherBook;
}

#invitation .big {
	font-size: 4rem;
}

#invitation .col-xs-8, #invitation .col-xs-offset-2 {
  float: none;
}

#invitation img:first-child {
  margin-bottom: -10%;
}

#invitation img {
  width: 80%;
  margin: auto;
}

#invitation img:last-child {
	margin-top: -15%;
}

#invitation .content {
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.25);
}

