/* Typography */
p {
	font-size: 16px;
}

nav, p, h1, h2, h3, h4, h5, li, span, div {
  font-family: ArcherBook;
}

@font-face {
  font-family: ArcherBook;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/archer/Archer-Book-Pro.woff);
}

@font-face {
  font-family: Riesling;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/riesling/riesling.ttf);
}

/* Images and color */
body .jumbotron {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar.hacknc-navbar, .panel.hacknc-navbar > .panel-heading {
  background-color: #cc506e;
  color: white;
}

.panel.hacknc-panel > .panel-heading {
  background-color: #1a4887;
  color: white;
}

.row {
  padding-left: 8px;
  padding-right: 8px;
}

.row:first-child {
  padding-top: 8px;
}

.row:last-child {
  padding-bottom: 8px;
}

/* Layout */

.hacknc-footer {
  padding-right: 5%;
}

.hacknc-footer span {
  font-size: 1.5rem;
}
