/* Typography */
p {
  font-size: 22px;
}

li, .navbar-brand{
   font-family: 'LMP';
   font-size: 28px;
 }

nav, p, h1, h2, h3, h4, h5, span, div {
  font-family: 'Fira Sans';
}

/* Images and color */
body .jumbotron {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar.hacknc-navbar, .panel.hacknc-navbar > .panel-heading {
  background: #02030A;
  color: white;
}

.panel.hacknc-panel > .panel-heading {
  background-color: #ce4e6d;
  color: white;
}


.navbar .navbar-collapse ul li a:hover, .navbar .navbar-collapse ul li a:active {
  text-decoration: none;
  text-shadow: 3px 3px 12px #F2BB60;
  font-size:105%;
  font-weight:600;
  color: inherit;
    /*border-bottom: 2px solid;
    border-color: inherit;
  color: inherit;*/
}
.row {
  padding-left: 8px;
  padding-right: 8px;
}

.row:first-child {
  padding-top: 8px;
}

.row:last-child {
  padding-bottom: 8px;
}

/* Layout */

.hacknc-footer {
  padding-right: 5%;
}

.hacknc-footer span {
  font-size: 1.5rem;
}