#unccs.contain {
	max-width: 45%;
}

#mlh.contain {
	max-width: 25%;
}

#sponsors img {
	max-width: 80%;
	margin: auto;
}

@media (max-width: 769px) {
	#unccs.contain {
		width: 75%;
		min-width: 300px;
	}
	#mlh.contain {
		width: 50%;
		min-width: 100px;
	}
}

