html{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

iframe{
	position: absolute;
  left: 0;
  right: 0;
	padding-top: 50px;
  padding-bottom: 50px;
	height: 100%;
	width: 100%;
  border: 0;
}

.hacknc-navbar.navbar-fixed-bottom .navbar-toggle {
	margin-bottom: 0;
}